<div>
    <h2 id="page-heading">
        <span jhiTranslate="medicoTechApp.personne.home.title">Personnes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-personne" [routerLink]="['/personne/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="medicoTechApp.personne.home.createLabel">
            Create a new Personne
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="personnes?.length === 0">
        <span jhiTranslate="medicoTechApp.personne.home.notFound">No personnes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personnes && personnes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomPersonne"><span jhiTranslate="medicoTechApp.personne.nomPersonne">Nom Personne</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="prenom"><span jhiTranslate="medicoTechApp.personne.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="adresse"><span jhiTranslate="medicoTechApp.personne.adresse">Adresse</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telephone"><span jhiTranslate="medicoTechApp.personne.telephone">Telephone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sexe"><span jhiTranslate="medicoTechApp.personne.sexe">Sexe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let personne of personnes ;trackBy: trackId">
                    <td><a [routerLink]="['/personne', personne.id, 'view']">{{ personne.id }}</a></td>
                    <td>{{ personne.nomPersonne }}</td>
                    <td>{{ personne.prenom }}</td>
                    <td>{{ personne.adresse }}</td>
                    <td>{{ personne.telephone }}</td>
                    <td jhiTranslate="{{ 'medicoTechApp.sexe.' + personne.sexe }}">{{ personne.sexe }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/personne', personne.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/personne', personne.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(personne)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="personnes && personnes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
